{% extends 'base.html' %}

{% block account %}
  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>


          <div class="mt-4 card">
          <ul class="list-group list-group-flush">
          {% for order in orders %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold"> {{ order['date'] }} </span>
                  <span class="h5">- {{ order['total'] }} ₽</span>
                  <span class="h5">({{ order['status'] }})</span>
                </div>
              </div>
            </li>


            {% for dish in order['dishes'] %}
            <div class="card-body">
              <div class="row">
                <p class="col-4 text-muted"> {{ dish['title'] }} </p>
                <p class="col-2 text-muted"> {{ dish['amount'] }} </p>
                <p class="col-6 text-muted"> {{ dish['cost'] }}</p>
              </div>
            </div>
            {% endfor %}
          {% endfor %}
          </ul>
        </div>


      </div>
    </section>
  </main>
{% endblock %}